<a href="https://colab.research.google.com/github/sachin-dtu/LEARN_MATERIAL_NUMPY/blob/Pandas_LM/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
iris = pd.read_csv("/content/iris (1).data")
print(type(iris))
print(iris)

<class 'pandas.core.frame.DataFrame'>
     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
df = iris.copy()
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
df.head(2)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa

In [ ]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [ ]:
df.columns = ["sl","sw","pl","pw","flower_type"]
df.columns

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')

In [ ]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
df["sl"].count()

149

In [ ]:
print(df.shape)
print(df.dtypes)

(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [ ]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [ ]:
# both are same
df.sl
df["sl"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [ ]:
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [ ]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [ ]:
# to acess some row and columns 
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [ ]:
df["sl"].describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sl, dtype: float64

In [ ]:
import pandas as pd
data_1 = pd.read_csv("/content/f500.csv")
print(data_1)

                            company  rank  revenues  revenue_change  profits  \
0                           Walmart     1    485873             0.8  13643.0
1                        State Grid     2    315199            -4.4   9571.3
2                     Sinopec Group     3    267518            -9.1   1257.9
3          China National Petroleum     4    262573           -12.3   1867.5
4                      Toyota Motor     5    254694             7.7  16899.3
..                              ...   ...       ...             ...      ...
495  Teva Pharmaceutical Industries   496     21903            11.5    329.0
496        New China Life Insurance   497     21796           -13.3    743.9
497       Wm. Morrison Supermarkets   498     21741           -11.3    406.4
498                             TUI   499     21655            -5.5   1151.7
499                      AutoNation   500     21609             3.6    430.5

     assets  profit_change                  ceo  \
0    198825           -7.2  C. Douglas McMillon
1    489838           -6.2              Kou Wei
2    310726          -65.0            Wang Yupu
3    585619          -73.7        Zhang Jianhua
4    437575          -12.3          Akio Toyoda
..      ...            ...                  ...
495   92890          -79.3    Yitzhak Peterburg
496  100609          -45.6             Wan Feng
497   11630           20.4       David T. Potts
498   16247          195.5    Friedrich Joussen
499   10060           -2.7   Michael J. Jackson

                            industry                  sector  previous_rank  \
0              General Merchandisers               Retailing              1
1                          Utilities                  Energy              2
2                 Petroleum Refining                  Energy              4
3                 Petroleum Refining                  Energy              3
4           Motor Vehicles and Parts  Motor Vehicles & Parts              8
..                               ...                     ...            ...
495                  Pharmaceuticals             Health Care              0
496  Insurance: Life, Health (stock)              Financials            427
497             Food and Drug Stores      Food & Drug Stores            437
498                  Travel Services       Business Services            467
499              Specialty Retailers               Retailing              0

     country           hq_location                       website  \
0        USA       Bentonville, AR        http://www.walmart.com
1      China        Beijing, China        http://www.sgcc.com.cn
2      China        Beijing, China        http://www.sinopec.com
3      China        Beijing, China        http://www.cnpc.com.cn
4      Japan         Toyota, Japan  http://www.toyota-global.com
..       ...                   ...                           ...
495   Israel  Petach Tikva, Israel      http://www.tevapharm.com
496    China        Beijing, China   http://www.newchinalife.com
497  Britain     Bradford, Britain      http://www.morrisons.com
498  Germany      Hanover, Germany       http://www.tuigroup.com
499      USA   Fort Lauderdale, FL     http://www.autonation.com

     years_on_global_500_list  employees  total_stockholder_equity
0                          23    2300000                     77798
1                          17     926067                    209456
2                          19     713288                    106523
3                          17    1512048                    301893
4                          23     364445                    157210
..                        ...        ...                       ...
495                         1      56960                     33337
496                         2      54378                      8507
497                        13      77210                      5111
498                        23      66779                      3006
499                        12      26000                      2310

[500 rows x 17 columns]